 <!--Main Navigation-->
 <header>
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info scrolling-navbar">
        <a class="navbar-brand" href="#"><strong>
          uHosting
        </strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Web Hosting </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Email Hosting </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">VPS Hosting</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="#">Wordpress </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dedicated   </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Web Services </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="Resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About uHosting </a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav btn btn-primary" href="#">Sign Up </a>
                </li>
                <li class="nav-item">
                    <a class="nav btn btn-success" href="#">Login </a>
                </li>
            </ul>
        </div>
    </nav>
 <!--Intro Section-->
 <section class="view intro-2 hm-indigo-strong">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="d-flex align-items-center">
                <div class="row flex-center pt-5 mt-3">
                    <div class="col-md-6 text-center text-md-left mb-5">
                        <div class="white-text">
                            <h1 class="display-4 font-bold wow fadeInLeft" data-wow-delay="0.3s">FREE HOSTING FOR STUDENTS</h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Our free hosting for students plan includes all you need to host your site.</h6>
                            <br>
                            <a class="btn btn-danger wow fadeInLeft" data-wow-delay="0.3s"> Apply Now >> </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-5">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</header>

<main>
    <div class="container">
       <!--Section: Features v.3-->
<section>

    <!--Section heading-->
    <h1 class="h1 py-5 font-bold text-center">Why is it so great?</h1>
    <!--Section description-->
    <p id="home_great" class="px-5 mb-5 pb-3 lead grey-text text-center">We have a comprehensive server solution. Our servers are hosted at Japan Data Centers, Singrapo, Canada, Australia and Vietnam.
        We support 24/7 issues. <br>Our system supports programming languages such as PHP, Angular JS, Java, .NET, Node JS Realtime. Redis Cached, Git SVN
        Our pride is to build a future for the younger generation of tech enthusiasts. We are willing to invest in infrastructure to enable students and students to develop their projects..</p>

    <!--Grid row-->
    <div class="row pt-2">

    <!--Grid column-->
    <div class="col-lg-5 mb-r center-on-small-only">
        <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7">

        <!--Grid row-->
        <div class="row pb-3">
        <div class="col-2 col-md-1">
            <i class="fa fa-mail-forward fa-lg indigo-text"></i>
        </div>
        <div class="col-10">
            <h5 class="font-bold text-left mb-3 dark-grey-text">Safety</h5>
            <p class="grey-text text-left">Tier 4 server security standards.<br>
              Standard of security and security such as Firewall, DDOS and DNS.
              .</p>
        </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row pb-3">
        <div class="col-2 col-md-1">
            <i class="fa fa-mail-forward fa-lg indigo-text"></i>
        </div>
        <div class="col-10">
            <h5 class="font-bold text-left mb-3 dark-grey-text">Technology</h5>
            <p class="grey-text text-left">Using the latest technology platforms.<br>
              .Support using advanced platform for website such as. Mongo DB, Node JS, Angular 5, larger PHP 5.x.x, Java servlet. API service. Redis, .Net 4.5, Mysql, Mariadb .v.v.</p>
        </div>
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row pb-3">
        <div class="col-2 col-md-1">
            <i class="fa fa-mail-forward fa-lg indigo-text"></i>
        </div>
        <div class="col-10">
            <h5 class="font-bold text-left mb-3 dark-grey-text">Finance</h5>
            <p class="grey-text text-left">We ensure the transaction elements are strictly controlled. We do not store credit card information.<br>We only provide the best products and the cheapest price for each type of customer.</p>
        </div>
        </div>
        <!--Grid row-->

    </div>
    <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.3-->
    </div>
    <div class="container">
      <!--Section: Pricing v.2-->
<section class="text-center pb-3">

    <!--Section heading-->
    <h1 class="h1 py-5">Diverse Web Hosting Plans</h1>
    <!--Section description-->
    <p class="section-description">Linux hosting is the most popular PHP / MYSQL website hosting service today <br>Servers use 100% SSD with Cloud Linux technology for your website to achieve high speed, security and stability.</p>

    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-r">

            <!-- Card -->
            <div class="card card-image" style="background-image: url('http://asset.msi.com/global/picture/staticpage/kv-pd.png');">

                <!--Pricing card-->
                <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3 rounded">

                    <!--Content-->
                    <div class="card-body">
                        <h5>Basic</h5>
                        <!--Price-->
                        <div class="price pt-0">
                            <h1>2$/ month</h1>
                        </div>
                        <!--Price-->
                        <ul class="striped">
                            <li><p><strong>Operator System </strong> Linux/Debian</p> </li>
                            <li><p><strong>Operator Support </strong> Java/Linux/Windowns</p> </li>
                            <li><p><strong>Storage </strong> 300MB SSD Share</p> </li>
                            <li><p><strong>RAM </strong> Share </p> </li>
                            <li><p><strong>Database </strong> Mysql, MSSQL</p> </li>
                            <li><p><strong>Email Box </strong> 5 </p> </li>
                            <li><p><strong>Email STMP </strong> 1 </p> </li>
                            <li><p><strong>Bandwidth </strong>  1 GB </p> </li>
                            <li><p><strong>Network  Public </strong> IP Share </p> </li>
                            <li><p><strong>Security </strong> Firewall Limit Ports, DDOS 100MB </p> </li>
                            <li><p><strong>SSL </strong>Let's Encrypt SSL Free </p> </li>
                            <li><p><strong>Manager </strong> Control, DNS Free</p> </li>
                            <li><p><strong>Backup auto</strong> None</p> </li>
                            <li><p><strong>Caching </strong> None </p> </li>
                            <li><p><strong>Support </strong> 24/7 </p> </li>
                        </ul>
                        <a class="btn btn-outline-white"> Buy now</a>
                    </div>

                </div>
                <!--Pricing card-->
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-r">

            <!-- Card -->
            <div class="card card-image" style="background-image: url('https://vietteldc.com/wp-content/uploads/2014/03/cloud-server-cloud-vps-viettelidc.png');">

                <!--Pricing card-->
                <div class="text-white text-center pricing-card d-flex align-items-center rgba-teal-strong py-3 px-3 rounded">

                    <!--Content-->
                    <div class="card-body">
                        <h5>Pro</h5>
                        <!--Price-->
                        <div class="price pt-0">
                            <h1>15$/ month</h1>
                        </div>
                        <!--Price-->
                        <ul class="striped">
                            <li><p><strong>Operator System </strong> Linux/Debian</p> </li>
                            <li><p><strong>Operator Support </strong> Java/Linux/Windowns</p> </li>
                            <li><p><strong>Storage </strong> 1GB SSD Share</p> </li>
                            <li><p><strong>RAM </strong> 2GB Share </p> </li>
                            <li><p><strong>Database </strong> Mysql, MSSQL</p> </li>
                            <li><p><strong>Email Box </strong> 15</p> </li>
                            <li><p><strong>Email STMP </strong> 1 </p> </li>
                            <li><p><strong>Bandwidth </strong> 30 GB</p> </li>
                            <li><p><strong>Network  Public </strong> IP Share </p> </li>
                            <li><p><strong>Security </strong> Firewall Limit Ports, DDOS 1GB</p> </li>
                            <li><p><strong>SSL </strong>Let's Encrypt SSL Free </p> </li>
                            <li><p><strong>Manager </strong> Control, DNS Free</p> </li>
                            <li><p><strong>Backup auto</strong> 30 days</p> </li>
                            <li><p><strong>Caching </strong> None </p> </li>
                            <li><p><strong>Support </strong> 24/7 </p> </li>
                        </ul>
                        <a class="btn btn-outline-white"> Buy now</a>
                    </div>

                </div>
                <!--Pricing card-->
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-r">

            <!-- Card -->
            <div class="card card-image" style="background-image: url('http://static.atimes.com/uploads/2017/10/iStock-599903446-630x378.jpg');">

                <!--Pricing card-->
                <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3 rounded">

                    <!--Content-->
                    <div class="card-body">
                        <h5>Enterprise</h5>
                        <!--Price-->
                        <div class="price pt-0">
                            <h1>150$/ month</h1>
                        </div>
                        <!--Price-->
                        <ul class="striped">
                            <li><p><strong>Operator System </strong> Linux/Debian</p> </li>
                            <li><p><strong>Operator Support </strong> Java/Linux/Windowns</p> </li>
                            <li><p><strong>Storage </strong> 128GB SSD</p> </li>
                            <li><p><strong>RAM </strong> 8GB </p> </li>
                            <li><p><strong>Database </strong> Mysql, Mongodb, MSSQL</p> </li>
                            <li><p><strong>Email Box </strong> Unlimited</p> </li>
                            <li><p><strong>Email STMP </strong> 5</p> </li>
                            <li><p><strong>Bandwidth </strong> Unlimited</p> </li>
                            <li><p><strong>Network  Public </strong> 1 IP </p> </li>
                            <li><p><strong>Security </strong> Firewall Allow Ports, DDOS 5GB</p> </li>
                            <li><p><strong>SSL </strong>HTTPS 1 Domain </p> </li>
                            <li><p><strong>Manager </strong> Monitoring, DNS Premium</p> </li>
                            <li><p><strong>Backup auto</strong> 24 hours/days</p> </li>
                            <li><p><strong>Caching </strong> Redis </p> </li>
                            <li><p><strong>Support </strong> NodeJS, 24/7 </p> </li>
                        </ul>
                        <a class="btn btn-outline-white"> Buy now</a>
                    </div>

                </div>
                <!--Pricing card-->
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Pricing v.2-->
            
    </div>
</main>


<router-outlet></router-outlet>
